.bannerContent {
    width: 100%;
    overflow: hidden;
    height: 480px;
    background-color: saddlebrown;
    a {
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    :global {
        .ant-carousel,
        .slick-track,
        .slick-slider,
        .slick-list {
            width: 100%;
            height: 100%;
        }
        .ant-carousel .slick-list .slick-slide > div > div {
            height: 480px;
        }
        .ant-carousel .slick-dots li.slick-active > button {
            background: #ffab32 !important;
            opacity: 1;
        }
        .ant-carousel .slick-dots li button {
            background: #ffab32 !important;
            opacity: 1;
        }
    }
}
