.teacherDetail {
    width: 1200px;
    margin: 40px auto;
    height: auto;
    display: flex;
    & > img {
        width: 495px;
        height: 495px;
        object-fit: cover;
        margin-right: 30px;
        border-radius: 10px;
    }
    .info {
        width: 600px;
        height: 495px;
        overflow: hidden;
        h1 {
            font-weight: bold;
            font-size: 30px;
            margin-bottom: 30px;
        }
        h3 {
            font-weight: bold;
            font-size: 20px;
            position: relative;
            padding-left: 20px;
            margin-bottom: 10px;
            &::after {
                content: "";
                display: block;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: #ffab32;
                position: absolute;
                left: 0px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        & > div {
            display: flex;
            color: #666;
            line-height: 30px;
            font-size: 16px;
            span {
                display: inline-block;
                width: 90px;
                height: 30px;
                line-height: 30px;
                font-size: 16px;
                color: #666666;
                text-align: justify;
            }
            & > div {
                width: 300px;
                font-size: 16px;
                color: #999;
                line-height: 30px;
                margin-left: 10px;
                overflow: hidden;
                &.text {
                    height: 90px;
                    margin-bottom: 20px;
                }
            }
        }
        .honor {
            display: block;
            line-height: 30px;
            color: #666;
            font-size: 16px;
            height: 200px;
            overflow-y: auto;
            p {
                margin-bottom: 0px;
                height: 40px;
                line-height: 40px;
            }
        }
    }
}
