.navEdit {
    width: 100%;
    background-color: #2b3244;
    height: 50px;
    margin: 0 auto;
    ul {
        width: 1200px;
        margin: 0 auto;
        height: 100%;
        position: relative;
    }
    li {
        float: left;
        width: 120px;
        text-align: center;
        height: 100%;
        line-height: 50px;
        font-size: 15px;
        color: white;
        cursor: pointer;
    }
    .line {
        position: absolute;
        width: 24px;
        height: 3px;
        bottom: 8px;
        background-color: #ffab32;
        left: 60px;
        transform: translateX(-12px);
        transition: 0.3s cubic-bezier(0.32, 0, 0.43, 1.59);
    }
}
