.exhibitionEdit {
    .input_box {
        img {
            width: 200px;
            height: 100px;
        }
        textarea {
            width: 400px;
            height: 150px;
            font-size: 14px;
        }
    }
}
