.teacherListLoop-antMotion-box{
    min-height: 520px;
}
.teacherListLoop {
    width: 100%;
    height: 520px;
    background-color: #f4f4f4;
    padding-top: 10px;
    .teacherBox {
        width: 1200px !important;
        margin: 0 auto;
        height: 450px !important;
        & > div {
            padding: 10px;
            box-sizing: border-box;
        }
    }
    .ant-carousel {
        width: 100%;
        height: 450px;
    }
    .ant-carousel .slick-list .slick-slide > div > div {
        height: 380px;
    }
    .ant-carousel .slick-dots li.slick-active > button {
        background: #ffab32 !important;
        opacity: 1;
    }
    .ant-carousel .slick-dots li {
        width: 10px;
        height: 10px;
        margin: 0px 8px;
    }
    .ant-carousel .slick-dots li button {
        background: #bebebe !important;
        opacity: 1;
        height: 100%;
        border-radius: 50%;
    }
    .link {
        display: block;
        width: 120px;
        height: 40px;
        margin: 0 auto;
        text-align: center;
        background-color: #ffab32;
        color: white;
        line-height: 40px;
        border-radius: 20px;
        font-weight: bold;
        font-size: 16px;
        animation: zoomButton 2s infinite;
    }
    .teacher {
        width: 225px;
        height: 360px;
        padding: 10px;
        float: left;
        background-color: white;
        transition: 0.3s;
        margin-left: 10px;
        &:hover {
            box-shadow: 0px 0px 8px #bfbbb8;
        }
        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }
        h3 {
            font-size: 16px;
            margin: 10px 0px;
        }
        p {
            margin-bottom: 5px;
            font-size: 14px;
            color: #999999;
            cursor: pointer;
            em {
                font-style: normal;
                display: inline-block;
                width: 70px;
                text-align: justify;
                text-align-last: justify;
            }
            &.text {
                height: 65px;
                overflow: hidden;
            }
        }
    }
    
}
