.teacherStandards{
    width: 1200px;
    height: auto;
    display: flex;
    margin: 50px auto;
    justify-content: space-between;
    &>div{
        &:nth-of-type(odd) .img{
            background-color: #FFAB32;
            
        }
        &:nth-of-type(even) .img{
            background-color: #393939;
            
        }
        width: 260px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .img{
            width: 100px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: .5s;
            }
            &:hover{
                img{
                    transform: scale(1.1);
                }
            }
        }
        
        h1{
            font-weight:bold;
            font-size: 20px;
            margin: 15px 0px;
            width: 100%;
            text-align: center;
        }
        p{
            width: 100%;
            color: #999;
            font-size: 15px;
            line-height: 26px;
        }
    }
}