.pcResetStyle {
    max-width: 1920px;
    min-width: 1200px;
    margin: 0 auto;
    position: relative;
}
.pcResetStyle .hoverBorder:hover {
    outline: dashed 1px #5874d8;
}
* {
    outline: none;
    user-select: none;
}
@keyframes zoomButton {
    0% {
        transform: perspective(1px) scale(1);
    }
    50% {
        transform: perspective(1px) scale(0.9);
    }
    100% {
        transform: perspective(1px) scale(1);
    }
}
.pcResetStyle p {
    margin: 0px;
}
