.imgAndTextEdit{
    .input_box{
        margin: 30px 0px;
        img{
            width: 100px;
            height: 100px;
            object-fit: cover;
            cursor: pointer;
        }
    }
    .redio{
        &>span{
            display: inline-block;
            text-align: right;
            width: 150px;
            margin-right: 10px;
        }
    }
}