.developmentHistory {
    width: 1200px;
    margin: 0 auto;
    min-height: 300px;
    display: flex;
    justify-content: center;
    .nav {
        width: 150px;
        h1{
            width: 70px !important;
            position: relative;
            cursor: pointer;
            &::before{
                content: "";
                display: block;
                width: 0px;
                height: 4px;
                position: absolute;
                bottom: 0px;
                left: 0px;
                background-color: #fca603;
                transition: .3s;
            }
            &.active{
                &::before{
                    width: 100%;
                }
            }
        }
    }
    .ant-timeline-item-head-blue {
        border-color: #fca603;
    }
    .ant-timeline-item-content {
        h3 {
            font-size: 28px;
            margin-top: -10px;
        }
    }
    .container {
        width: 1100px;
        min-height: 800px;
        border-radius: 5px;
        // box-shadow: 0px 0px 8px #d4d1cf;
        line-height: 26px;
        padding: 10px 10px 100px 10px;
        animation: developmentHistory .3s ease-in-out;
        @keyframes developmentHistory {
            0%{
                opacity: 0;
                transform: translateX(100px);
            }
            100%{
                opacity: 1;
                transform: translateX(0px);
            }
        }
        .img_text {
            margin: 10px 0px;
            display: flex;
            align-items: center;
            img {
                width: 180px;
                height: 120px;
                object-fit: cover;
            }
            span {
                font-size: 14px;
                margin-left: 15px;
                font-weight: bold;
            }
        }
    }
}
