/* 头部 */
.headModule {
    width: 1200px;
    margin: 0 auto;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        width: 125px;
        height: 59px;
        object-fit: cover;
    }

    .headerRight {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 30px;
            height: 30px;
            margin-right: 5px;
        }

        .city {
            color: #b1b1b1;
            border: 1px solid #b1b1b1;
            padding: 5px 10px;
            border-radius: 20px;
            font-size: 13px;
            margin-right: 15px;
        }
        
        .tel {
            font-weight: bold;
            font-size: 20px;
        }
    }
}
