.curriculumPlan {
    width: 1200px;
    min-height: 300px;
    margin: 0 auto;
    position: relative;
    .adorn {
        position: absolute;
        &:nth-of-type(1) {
            left: 440px;
            top: 200px;
            transform: scale(0.7);
        }
        &:nth-of-type(2) {
            right: 430px;
            top: 290px;
            transform: scale(0.9);
        }
        &:nth-of-type(3) {
            right: 120px;
            top: 300px;
            transform: scale(0.3);
        }
        &:nth-of-type(4) {
            left: 30px;
            top: 570px;
            transform: scale(0.6);
        }
        &:nth-of-type(5) {
            left: 380px;
            top: 610px;
            transform: scale(0.3);
        }
        &:nth-of-type(6) {
            right: 30px;
            bottom: 240px;
            transform: scale(0.7);
        }
        &:nth-of-type(7) {
            left: 430px;
            bottom: 100px;
            transform: scale(0.5);
        }
    }
    .consult-button {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        button {
            width: 200px;
            height: 50px;
            background-image: linear-gradient(to right, #ff7e00, #fcb303);
            border: 0px;
            border-radius: 30px;
            font-size: 22px;
            cursor: pointer;
            color: white;
            margin: 0px 20px;
            animation: zoomButton 3s infinite;
        }
    }
    .imgText {
        display: flex;
        margin: 15px 0px;
        .image {
            width: 400px;
            height: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 390px;
                height: 260px;
                object-fit: cover;
                border-radius: 5px;
            }
        }
        .text {
            width: 800px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            align-content: center;
            p {
                background-color: #eeeeee;
                border-radius: 10px;
                line-height: 30px;
                font-size: 14px;
                width: 700px;
                padding: 30px 20px;
            }
            .color {
                color: #ffab32;
            }
        }
    }
}
