/* 版权footerbar */
.footerBarCopyright {
    width: 100%;
    color: #666666;
    background-color: #fff;
    overflow: hidden;
    .copyrightContent {
        width: 100%;
        height: auto;
        text-align: center;
        font-size: 0.24rem;
        font-family: Source Han Sans CN;
        font-weight: 400;
        white-space: nowrap;
        margin: 0.2rem 0;
        line-height: 0.3rem;
        span {
            display: block;
            transform: scale(.9);
        }
    }
}