.imgTextCrossing {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    & > div {
        width: 300px;
        height: 200px;
        text-align: center;
        background-color: #fecf40;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        overflow: hidden;
        &:hover{
            img{
                transform: scale(1.1);
            }
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 1s;
        }
        h1 {
            font-weight: bold;
            font-size: 20px;
            padding: 0px 15px;
        }
        h3 {
            font-size: 16px;
            padding: 0px 15px;
            color: white;
            line-height: 30px;
        }
    }
}
